extends layout 

include mixins/_vacationUser
include mixins/_honeyBadgerUser

block content 
    .container-fluid
        .row.h-100.d-flex
            .col-12.col-md-7.col-lg-8.ps-3
                .row.my-2.center
                    .col-3
                        img.img-fluid(src=`/images/photos/profilePictures/${profile.firstName}${profile.lastName}.jpeg` class="img-thumbnail" alt="Profile Picture")
                    .col-9
                        if profile.degree
                            .text-title-1= profile.firstName + ' ' + profile.lastName + ' ' + profile.degree
                        else 
                            .text-title-1= profile.firstName + ' ' + profile.lastName
                        if profile.specialty
                            .text-title-3
                                span.fw-lighter= profile.specialty
                        if profile.title 
                            .text-title-3
                                if profile.inception
                                    - var inception = profile.inception
                                    - var offset = inception.getTimezoneOffset() / 60;
                                    - var hours = inception.getHours();
                                    - inception.setHours(hours + offset)
                                    - var year = inception.getFullYear();
                                    - var month = inception.getMonth() + 1;
                                    - var date = inception.getDate();
                                    - var inception = month + '/' + date + '/' + year
                                spanr= profile.title
                                    span.fw-lighter.small= ' (' + inception + ')'
                hr
                .row.my-2
                    .col-2.center 
                        i.fa-solid.fa-envelope.font-icon-color-tertiary.fa-xl
                    .col-3.start
                        p.text-light.m-0 Primary Email
                    a.col-7.start.link-profile(href=`mailto:${profile.emailPrimary}`)= profile.emailPrimary || 'NONE'
                if profile.emailSecondary
                    .row.my-2
                        .col-2.center 
                            i.fa-solid.fa-envelope.font-icon-color-tertiary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Secondary Email
                        a.col-7.start.link-profile(href=`mailto:${profile.emailSecondary}`)= profile.emailSecondary || 'NONE'
                if profile.emailTertiary
                    .row.my-2
                        .col-2.center 
                            i.fa-solid.fa-envelope.font-icon-color-tertiary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Tertiary Email
                        a.col-7.start.link-profile(href=`mailto:${profile.emailTertiary}`)= profile.emailTertiary || 'NONE'
                hr
                .row.my-2
                    .col-2.center 
                        i.fa-solid.fa-phone.font-icon-color-green.fa-xl
                    .col-3.start
                        p.text-light.m-0 Primary Phone
                    - var phonePrimary = profile.phonePrimary
                    - var numPrimary = phonePrimary.replace(/^\+[0-9]/, '');
                    - var numPrimary = numPrimary.replace(/(\d{3})(\d{3})(\d{4})/, "($1)-$2-$3");
                    a.col-7.start.link-profile(href=`tel:${phonePrimary}`)= numPrimary
                if profile.phoneSecondary
                    .row.my-2
                        .col-2.center 
                            i.fa-solid.fa-phone-rotary.font-icon-color-green.fa-xl
                        .col-3.start
                            p.text-light.m-0 Secondary Phone
                        - var phoneSecondary = profile.phoneSecondary
                        - var numSecondary = phoneSecondary.replace(/^\+[0-9]/, '');
                        - var numSecondary = numSecondary.replace(/(\d{3})(\d{3})(\d{4})/, "($1)-$2-$3");
                        a.col-7.start.link-profile(href=`tel:${phoneSecondary}`)= numSecondary
                if profile.phoneTertiary
                    .row.my-2
                        .col-2.center 
                            i.fa-solid.fa-phone-rotary.font-icon-color-green.fa-xl
                        .col-3.start
                            p.text-light.m-0 Tertiary Phone
                        - var phoneTertiary = profile.phoneTertiary
                        - var numTertiary = phoneTertiary.replace(/^\+[0-9]/, '');
                        - var numTertiary = numTertiary.replace(/(\d{3})(\d{3})(\d{4})/, "($1)-$2-$3");
                        a.col-7.start.link-profile(href=`tel:${phoneTertiary}`)= numTertiary
                hr
                if profile.medSchool
                    .row.my-4 
                        .col-2.center
                            i.fa-solid.fa-user.font-icon-color-secondary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Medical School
                        .col-7.start
                            p.text-light.m-0.fw-lighter= profile.medSchool
                if profile.internship
                    .row.my-4
                        .col-2.center
                            i.fa-solid.fa-user-injured.font-icon-color-secondary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Internship
                        .col-7.start
                            p.text-light.m-0.fw-lighter= profile.internship
                if profile.residency
                    .row.my-4
                        .col-2.center
                            i.fa-solid.fa-user-doctor.font-icon-color-secondary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Residency
                        .col-7.start
                            p.text-light.m-0.fw-lighter= profile.residency
                if profile.fellowship
                    .row.my-4
                        .col-2.center
                            i.fa-solid.fa-user-ninja.font-icon-color-secondary.fa-xl
                        .col-3.start
                            p.text-light.m-0 Fellowship
                        .col-7.start
                            p.text-light.m-0.fw-lighter= profile.fellowship
                hr
                .row.my-4.center
                    a.w-75.btn.btn-success(href=`/profileEdit/${profile._id || ''}`) Edit myProfile
            .col-12.col-md-5.col-lg-4.border-start
                
                if shiftsUser.length > 0
                    //- INSERT MY NIGHTHAWK MIXIN
                    +honeyBadgerUser

                    //- .row
                    //-     h6.text-success.text-center my NH/LOCUMS
                    //-         span.ms-2.badge.bg-secondary= honeyBadger.length
                    //-     each honey in honeyBadger 
                    //-         - var dateOptions = { month: 'numeric', day: 'numeric' };
                    //-         - var timeOptions = { hour: 'numeric', minute: 'numeric' };
                    //-         - var shiftDate = new Intl.DateTimeFormat('en-US', dateOptions).format(honey.startTime);
                    //-         - var startTime = new Intl.DateTimeFormat('en-US', timeOptions).format(honey.startTime);
                    //-         - var endTime = new Intl.DateTimeFormat('en-US', timeOptions).format(honey.endTime);
                    //-         button(type='button').btn.btn-dark.m-2= shiftDate + ' - ' + startTime + ' to ' + endTime
                if vacationUser.length > 0
                    //- INSERT MY VACATION MIXIN
                    +vacationUser
                    //- .row
                    //-     h6.mb-2.text-warning.text-center my VACATION
                    //-         span.ms-2.badge.bg-secondary= vacationUser.length
                    //-     each vacation in vacationUser
                    //-         - var dateOptions = { month: 'numeric', day: 'numeric' };
                    //-         - var vacationStart = new Intl.DateTimeFormat('en-US', dateOptions).format(vacation.startDate);
                    //-         - var vacationEnd = new Intl.DateTimeFormat('en-US', dateOptions).format(vacation.endDate);
                    //-         button(type='button').btn.btn-dark.m-2= 'Week ' + vacation.weekNum + ' - ' + vacationStart + ' to ' + vacationEnd
