mixin contactCard(contact = {})

    //- main, er, stroke, readingroom, radiology, it, staff, unit, administration

    each tag in contact.tag
        -   
            if (tag === 'er') {
                contactText = 'text-radred';
            } else if (tag === 'stroke') {
                contactText = 'text-radred';
            } else if (tag === 'readingroom') {
                contactText = 'text-radblue';
            } else if (tag === 'main') {
                contactText = 'text-radblack';
            } else if (tag === 'administration') {
                contactText = 'text-radyellow';
            } else {
                contactText = 'text-radblack';
            }
        
    .row.p-0.m-0
        a.panel-contact.col-md(href=`tel:1-${contact.phoneNum}` class=`${contactText}`)
            .row.zero
                .col-2.panel-contact-logo
                    each tag in contact.tag
                        if tag === 'er'
                            .fw-bold ER 
                        else if tag === 'stroke'
                            i.fa-solid.fa-brain.fa-xl
                        else if tag === 'readingroom'
                            i.fa-solid.fa-desktop.fa-xl
                        else if tag === 'administration'
                            i.fa-solid.fa-circle-user.fa-xl
                if uberUser
                    .col-8
                        .panel-contact-label= contact.numLabel
                        .panel-contact-num= contact.phoneNum
                else 
                    .col-10
                        .panel-contact-label= contact.numLabel
                        .panel-contact-num= contact.phoneNum
        if uberUser
            a.col-2.center(href=`/contacts/${contact._id}/edit`) Edit

        //- if !user
        //-     .row.w-100.m-0.p-0
        //-         #phoneLabel.col-7.p-0.text-radblue= contact.numLabel
        //-         .col-5.p-0.text-radyellow= contact.phoneNum
        //- else
        //-     .row.m-0.p-0
        //-         #phoneLabel.col-6.p-0.text-radblue= contact.numLabel
        //-         .col-4.p-0.text-radyellow= contact.phoneNum
        //-         .col-1= contact.index
        //-         a#editNumber.col-1.d-flex.justify-content-center.align-items-center(href=`/contacts/${contact._id}/edit`) Edit