mixin contactCard(contact = {})

    //- a.row(href=`tel:1-${contact.phoneNum}`)
    //-     .col-7.text-radblue= contact.numLabel
    //-     .col-5.text-radyellow= contact.phoneNum
    a.list-group-item.list-group-item-action.p-1.d-flex.justify-content-between.align-items-start(href=`tel:1-${contact.phoneNum}`)
        .ms-2.me-auto
            .fw-bold= contact.numLabel
            .div= contact.phoneNum
            
        
        //- if !user
        //-     .row.w-100.m-0.p-0
        //-         #phoneLabel.col-7.p-0.text-radblue= contact.numLabel
        //-         .col-5.p-0.text-radyellow= contact.phoneNum
        //- else
        //-     .row.m-0.p-0
        //-         #phoneLabel.col-6.p-0.text-radblue= contact.numLabel
        //-         .col-4.p-0.text-radyellow= contact.phoneNum
        //-         .col-1= contact.index
        //-         a#editNumber.col-1.d-flex.justify-content-center.align-items-center(href=`/contacts/${contact._id}/edit`) Edit