mixin resourcesDisplay(resource = {})

    //- .row
    //-     a.w-50.list-group-item.list-group-item-action(href=item.url)= item.labelName
    //-     if user
    //-     .col-2.center
    //-         .row.h-100
    //-             a.col.center.fs-4(href=`/resources/${item._id}/edit`)
    //-                 i.bi.bi-pencil-square
    //-             a.col.center.fs-4(href=`/resources/${item._id}/delete`)
    //-                 i.bi.bi-x-square

    .container.table-container
        table.table
            thead 
                tr.table-row
                    th.resource-link(scope="col") Hyperlink 
                    th.resource-notes(scope="col") Notes
                    if uberUser
                        th.resource-edit(scope="col") Edit
                        th.resource-delete(scope="delete") Delete
            tbody 
                each item in resource
                    //- tr.table-row.resource-link 
                    //-     td
                    //-         a.resource-link(href=item.url)= item.labelName
                    //-     td.resource-notes= item.notes
                    //-     if uberUser
                    //-         td.edit
                    //-             a.resource-edit(href=`/resources/${item._id}/edit`)
                    //-                 i.bi.bi-pencil-square
                    //-         td.delete
                    //-             a.resource-delete(href=`/resources/${item._id}/delete`)
                    //-                 i.bi.bi-x-square
                    
                    tr.table-row 
                        td.resource-block
                            a.resource-link(href=item.url)= item.labelName
                        td.resource-block
                            a.resource-notes= item.notes
                        if uberUser
                            td.edit
                                a.resource-edit(href=`/resources/${item._id}/edit`)
                                    i.bi.bi-pencil-square
                            td.delete
                                a.resource-delete(href=`/resources/${item._id}/delete`)
                                    i.bi.bi-x-square