mixin vacationDisplay(vacationItem = {})

    //- JAVASCRIPT STARTDATE
    - const startDateSaved = vacationItem.startDate;
    - const startDateISO = startDateSaved.toISOString().replace('.000Z', '');
    - const startDateFull = new Date(startDateISO);
    - const startYear = startDateFull.getFullYear();
    - const startMonthNum = startDateFull.getMonth();
    - const startDate = startDateFull.getDate();
    - if (startMonthNum === 0) {
    -     startMonth = "1";
    - } else if (startMonthNum === 1) {
    -     startMonth = "2";
    - } else if (startMonthNum === 2) {
    -     startMonth = "3";
    - } else if (startMonthNum === 3) {
    -     startMonth = "4";
    - } else if (startMonthNum === 4) {
    -     startMonth = "5";
    - } else if (startMonthNum === 5) {
    -     startMonth = "6";
    - } else if (startMonthNum === 6) {
    -     startMonth = "7";
    - } else if (startMonthNum === 7) {
    -     startMonth = "8";
    - } else if (startMonthNum === 8) {
    -     startMonth = "9";
    - } else if (startMonthNum === 9) {
    -     startMonth = "10";    
    - } else if (startMonthNum === 10) {
    -     startMonth = "11";
    - } else {
    -     startMonth = "12";
    - }
    - const startDateDisplay = startMonth + '/' + startDate;

    //- JAVASCRIPT ENDDATE
    - const endDateSaved = vacationItem.endDate;
    - const endDateISO = endDateSaved.toISOString().replace('.000Z', '');
    - const endDateFull = new Date(endDateISO);
    - const endYear = endDateFull.getFullYear();
    - const endMonthNum = endDateFull.getMonth();
    - const endDate = endDateFull.getDate();
    - if (endMonthNum === 0) {
    -     endMonth = "1";
    - } else if (endMonthNum === 1) {
    -     endMonth = "2";
    - } else if (endMonthNum === 2) {
    -     endMonth = "3";
    - } else if (endMonthNum === 3) {
    -     endMonth = "4";
    - } else if (endMonthNum === 4) {
    -     endMonth = "5";
    - } else if (endMonthNum === 5) {
    -     endMonth = "6";
    - } else if (endMonthNum === 6) {
    -     endMonth = "7";
    - } else if (endMonthNum === 7) {
    -     endMonth = "8";
    - } else if (endMonthNum === 8) {
    -     endMonth = "9";
    - } else if (endMonthNum === 9) {
    -     endMonth = "10";    
    - } else if (endMonthNum === 10) {
    -     endMonth = "11";
    - } else {
    -     endMonth = "12";
    - }
    - const endDateDisplay = endMonth + '/' + endDate;

    tr.vacationWeek(class="")
        if uberUser 
            th.vacationWeek.table-info(scope="row")
                a(href=`/vacation/${vacationItem._id}/edit`)= vacationItem.weekNum
        else 
            th.table-info(scope="row")= vacationItem.weekNum  
        td.startVacation.table-primary= startDateDisplay 
        td.endVacation.table-primary= endDateDisplay 
        td.slot.slotA(class=vacationItem.slotA.toLowerCase())= vacationItem.slotA
        td.slot.slotB(class=vacationItem.slotB.toLowerCase())= vacationItem.slotB
        td.slot.slotC(class=vacationItem.slotC.toLowerCase())= vacationItem.slotC
        td.slot.slotD(class=vacationItem.slotD.toLowerCase())= vacationItem.slotD
        td.slot.slotE(class=vacationItem.slotE.toLowerCase())= vacationItem.slotE
        td.slot.slotF(class=vacationItem.slotF.toLowerCase())= vacationItem.slotF
        if uberUser
            td.slot.notesVacation.table-primary= vacationItem.notes
            td.delete.table-light
                a.text-danger(href=`/vacation/${vacationItem._id}/delete`)
                    i.bi.bi-x-square