mixin vacationDisplay(vacationItem = {})

    //- JAVASCRIPT STARTDATE
    - const startDateSaved = vacationItem.startDate;
    - const startDateISO = startDateSaved.toISOString().replace('.000Z', '');
    - const startDateFull = new Date(startDateISO);
    - const startYear = startDateFull.getFullYear();
    - const startMonthNum = startDateFull.getMonth();
    - const startDate = startDateFull.getDate();
    - if (startMonthNum === 0) {
    -     startMonth = "1";
    - } else if (startMonthNum === 1) {
    -     startMonth = "2";
    - } else if (startMonthNum === 2) {
    -     startMonth = "3";
    - } else if (startMonthNum === 3) {
    -     startMonth = "4";
    - } else if (startMonthNum === 4) {
    -     startMonth = "5";
    - } else if (startMonthNum === 5) {
    -     startMonth = "6";
    - } else if (startMonthNum === 6) {
    -     startMonth = "7";
    - } else if (startMonthNum === 7) {
    -     startMonth = "8";
    - } else if (startMonthNum === 8) {
    -     startMonth = "9";
    - } else if (startMonthNum === 9) {
    -     startMonth = "10";    
    - } else if (startMonthNum === 10) {
    -     startMonth = "11";
    - } else {
    -     startMonth = "12";
    - }
    - const startDateDisplay = startMonth + '/' + startDate;

    //- JAVASCRIPT ENDDATE
    - const endDateSaved = vacationItem.endDate;
    - const endDateISO = endDateSaved.toISOString().replace('.000Z', '');
    - const endDateFull = new Date(endDateISO);
    - const endYear = endDateFull.getFullYear();
    - const endMonthNum = endDateFull.getMonth();
    - const endDate = endDateFull.getDate();
    - if (endMonthNum === 0) {
    -     endMonth = "1";
    - } else if (endMonthNum === 1) {
    -     endMonth = "2";
    - } else if (endMonthNum === 2) {
    -     endMonth = "3";
    - } else if (endMonthNum === 3) {
    -     endMonth = "4";
    - } else if (endMonthNum === 4) {
    -     endMonth = "5";
    - } else if (endMonthNum === 5) {
    -     endMonth = "6";
    - } else if (endMonthNum === 6) {
    -     endMonth = "7";
    - } else if (endMonthNum === 7) {
    -     endMonth = "8";
    - } else if (endMonthNum === 8) {
    -     endMonth = "9";
    - } else if (endMonthNum === 9) {
    -     endMonth = "10";    
    - } else if (endMonthNum === 10) {
    -     endMonth = "11";
    - } else {
    -     endMonth = "12";
    - }
    - const endDateDisplay = endMonth + '/' + endDate;

    .row.w-100.m-0.p-0.text-center.border-bottom
        if user
            a(href=`/vacation/${vacationItem._id}/edit`).col-1.m-0.p-1.bg-radblue.text-radwhite.center.text-shrink= vacationItem.weekNum
        else 
            .col-1.m-0.p-1.bg-radblue.text-radwhite.center.text-shrink= vacationItem.weekNum
        .col-1.m-0.p-0.body1.bg-radblue-300.text-radwhite.center.text-shrink= startDateDisplay
        .col-1.m-0.p-0.body1.bg-radblue-200.text-radwhite.center.text-shrink= endDateDisplay 
        .col-9.col-lg-6.m-0.p-0
            .row.w-100.h-100.m-0.p-0
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotA)= vacationItem.slotA
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotB)= vacationItem.slotB
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotC)= vacationItem.slotC
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotD)= vacationItem.slotD
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotE)= vacationItem.slotE
                .slot.body1.col-2.m-0.p-0.center.text-shrink(class=vacationItem.slotF)= vacationItem.slotF
        .notesCol.col-lg-3.align-self-center= vacationItem.notes
        if user
            .adminNotes.col-lg-1.align-self-center