mixin vacationDisplay(week = {})

    - const currentDate = new Date();

    - var startDate = week.startDate;
    - var startOffset = startDate.getTimezoneOffset() / 60;
    - var startHours = startDate.getHours();
    - var startHours = startHours + startOffset;
    - startDate.setHours(startHours,00,00);
    - var startDateData = startDate.toISOString();
    - var startMonth = startDate.getMonth() + 1;
    - var startDay = startDate.getDate();
    - var startDateDisplay = startMonth + '/' + startDay;

    - var endDate = week.endDate;
    - var endOffset = endDate.getTimezoneOffset() / 60;
    - var endHours = endDate.getHours();
    - var endHours = endHours + endOffset;
    - endDate.setHours(endHours,00,00);
    - var endDateData = endDate.toISOString();
    - var endMonth = endDate.getMonth() + 1;
    - var endDay = endDate.getDate();
    - var endDateDisplay = endMonth + '/' + endDay;

    //- VACATION ROW MIXIN
    mixin vacationRow
        if uberUser 
            th.vacation-week.text-shrink.active-cell(scope="row")
                a.vacation-week(href=`/vacation/${week._id}/edit`)= week.weekNum
        else 
            th.vacation-week.text-shrink.active-cell(scope="row")= week.weekNum
        td.vacation-date.text-shrink= startDateDisplay
        td.vacation-date.text-shrink.mobile-hide= endDateDisplay
        td.vacation-slot.slotA.text-shrink(class=week.slotA.toLowerCase())= week.slotA.toUpperCase()
        td.vacation-slot.slotB.text-shrink(class=week.slotB.toLowerCase())= week.slotB.toUpperCase()
        td.vacation-slot.slotC.text-shrink(class=week.slotC.toLowerCase())= week.slotC.toUpperCase()
        td.vacation-slot.slotD.text-shrink(class=week.slotD.toLowerCase())= week.slotD.toUpperCase()
        td.vacation-slot.slotE.text-shrink(class=week.slotE.toLowerCase())= week.slotE.toUpperCase()
        td.vacation-slot.slotF.text-shrink(class=week.slotF.toLowerCase())= week.slotF.toUpperCase()
        td.vacation-slot.slotG.text-shrink(class=week.slotG.toLowerCase())= week.slotG.toUpperCase()
        td.vacation-slot.slotH.text-shrink(class=week.slotH.toLowerCase())= week.slotH.toUpperCase()
        if uberUser
            td.slot.vacation-notes.text-shrink.mobile-hide= week.notes
            td.vacation-delete.text-light.mobile-hide
                a.vacation-delete(href=`/vacation/${week._id}/delete`)
                    i.bi.bi-x-square
    //- OLD SHIFTS
    if week.endDate < currentDate
        tr.table-row.collapse#collapseRowVacation
            +vacationRow
    //- ACTIVE SHIFT
    else if currentDate >= week.startDate && currentDate <= week.endDate
        tr.table-row.active-row(data-startDate=startDateData data-endDate=endDateData)
            +vacationRow
    //- FUTURE SHIFTS
    else
        tr.table-row(data-startDate=startDateData data-endDate=endDateData)
            +vacationRow



        





        //- td.vacation-slot.slotA.text-shrink(class=week.slotA.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotA.firstName + ' ' + week.slotA.lastName)= week.slotA.initials
        //- td.vacation-slot.slotB.text-shrink(class=week.slotB.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotB.firstName + ' ' + week.slotB.lastName)= week.slotB.initials
        //- td.vacation-slot.slotC.text-shrink(class=week.slotC.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotC.firstName + ' ' + week.slotC.lastName)= week.slotC.initials
        //- td.vacation-slot.slotD.text-shrink(class=week.slotD.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotD.firstName + ' ' + week.slotD.lastName)= week.slotD.initials
        //- td.vacation-slot.slotE.text-shrink(class=week.slotE.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotE.firstName + ' ' + week.slotE.lastName)= week.slotE.initials
        //- td.vacation-slot.slotF.text-shrink(class=week.slotF.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotF.firstName + ' ' + week.slotF.lastName)= week.slotF.initials
        //- td.vacation-slot.slotG.text-shrink(class=week.slotG.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotG.firstName + ' ' + week.slotG.lastName)= week.slotG.initials
        //- td.vacation-slot.slotH.text-shrink(class=week.slotH.initials data-bs-toggle="tooltip" data-bs-placement="bottom" title=week.slotH.firstName + ' ' + week.slotH.lastName)= week.slotH.initials
        