mixin vacationForm(week = {})

    - if (week.startDate) {
    -   var start = week.startDate.toISOString().substring(0,10);
    - } else {
    -   var startDate = new Date(2022, 6, 1)
    -   var start = startDate.toISOString().substring(0,10);
    - }

    - if (week.endDate) {
    -   var end = week.endDate.toISOString().substring(0,10);
    - } else {
    -   var endDate = new Date(2022, 6, 9);
    -   var end = endDate.toISOString().substring(0,10);
    - }

    form.container.my-3.py-2(action=`/vacationEdit/${week._id || ''}` method="POST")
        .form-floating.mb-3
            //- Had to pull in maximum weekNum to populate next week to schedule in form
            if vacation
                each item in vacation
                    input#weekNum.form-control(type="number" name="weekNum" placeHolder="weekNum" value= item.weekNum + 1)
                label.form-label(for="weekNum") Week #
            else 
                input#weekNum.form-control(type="number" name="weekNum" placeHolder="weekNum" value= week.weekNum)
                label.form-label(for="weekNum") Week #


        .form-floating.mb-3
            input#startDate.form-control(type="date" onfocus="this.type='date'" name="startDate" placeHolder="startDate" value=start)
            label.form-label(for="startDate") Start Date
        .form-floating.mb-3
            input#endDate.form-control(type="date" onfocus="this.type='date'" name="endDate" placeHolder="endDate" value=end)
            label.form-label(for="endDate") End Date

        .input-group.mb-3
            span#slotA.input-group-text Slot A
            select.form-select(id='slotA' name='slotA' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotA
                    option(selected=week.slotA)= week.slotA.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN              
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotB.input-group-text Slot B
            select.form-select(id='slotB' name='slotB' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotB
                    option(selected=week.slotB)= week.slotB.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotC.input-group-text Slot C
            select.form-select(id='slotC' name='slotC' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotC
                    option(selected=week.slotC)= week.slotC.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotD.input-group-text Slot D
            select.form-select(id='slotD' name='slotD' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotD
                    option(selected=week.slotD)= week.slotD.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotE.input-group-text Slot E
            select.form-select(id='slotE' name='slotE' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotE
                    option(selected=week.slotE)= week.slotE.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotF.input-group-text Slot F
            select.form-select(id='slotF' name='slotF' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotF
                    option(selected=week.slotF)= week.slotF.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotG.input-group-text Slot G
            select.form-select(id='slotG' name='slotG' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotG
                    option(selected=week.slotG)= week.slotG.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()
        .input-group.mb-3
            span#slotH.input-group-text Slot H
            select.form-select(id='slotH' name='slotH' placeholder='enter INITIALS or OPEN' minlength="3" maxlength="4")
                if week.slotH
                    option(selected=week.slotH)= week.slotH.toUpperCase()
                option(value='CLS') CLOSED
                option(value='OPN') OPEN  
                each user in users
                    option(value=user.initials)= user.initials.toUpperCase()

        .form-floating.mb-3
            input#notes.form-control(type="text" name="notes" placeHolder="notes" value=week.notes)
            label.form-label(for="notes") Notes
        input.btn.btn-warning(type="submit" value="Save Vacation" class="button")








        //- .input-group.mb-3 
        //-     span#slotB.input-group-text Slot B
        //-     input.ps-2(type="text" name="slotB" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotB)
        //- .input-group.mb-3 
        //-     span#slotC.input-group-text Slot C
        //-     input.ps-2(type="text" name="slotC" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotC)
        //- .input-group.mb-3 
        //-     span#slotD.input-group-text Slot D
        //-     input.ps-2(type="text" name="slotD" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotD)
        //- .input-group.mb-3 
        //-     span#slotE.input-group-text Slot E
        //-     input.ps-2(type="text" name="slotE" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotE)
        //- .input-group.mb-3 
        //-     span#slotF.input-group-text Slot F
        //-     input.ps-2(type="text" name="slotF" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotF)
        //- .input-group.mb-3 
        //-     span#slotG.input-group-text Slot G
        //-     input.ps-2(type="text" name="slotG" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotG)
        //- .input-group.mb-3 
        //-     span#slotH.input-group-text Slot H
        //-     input.ps-2(type="text" name="slotH" placeHolder="enter INITIALS or OPEN" minlength="3" maxlength="4" value=week.slotH)